
<ion-header [ngClass]="{'expanded': expanded}">

  <ion-navbar color="primary" hideBackButton="true">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-capitalize>home</ion-title>
    <!-- <ion-item class="item-md">
      <button  [navPush]="profile"  item-left><ion-icon name="ios-contact"></ion-icon></button>
      <button [navPush]="search" item-right><ion-icon name="ios-funnel"></ion-icon></button>
    </ion-item> -->
     <ion-searchbar [navPush]="search" class="searchbar" placeholder="City, State or ZIP"></ion-searchbar>
  </ion-navbar>

</ion-header>


<ion-content>
  <!-- <ion-fab top right edge>
    <button (click)="presentModal()" ion-fab mini><ion-icon name="md-map" class="map-icon"></ion-icon></button>
  </ion-fab> -->
  <ion-card-content>
    <ion-item>
      <div item-left>Near you now</div>
      <button item-right>see all<ion-icon name="ios-arrow-forward"></ion-icon></button>
    </ion-item>
    <ion-scroll scrollX="true" style="overflow: scroll; white-space: nowrap; height: 23vh;" >
      <div *ngFor="let item of neargrid" style="display: inline-block;white-space: nowrap; " class="workContentContainer">
        <img src="{{item.img}}" style="margin: 0.5vh; display: inline-block; height: 17vh;">
        <div> {{item.title}} </div>
      </div>
    </ion-scroll>
  </ion-card-content>
  <ion-card-content>
    <ion-item>
      <div item-left>Category Name</div>
      <button item-right>see all<ion-icon name="ios-arrow-forward"></ion-icon></button>
    </ion-item>
    <ion-scroll scrollX="true" style="overflow: scroll;white-space: nowrap; height: 23vh" >
      <div *ngFor="let item of categorygrid" style="display: inline-block;white-space: nowrap; " class="workContentContainer">
        <img src="{{item.img}}" style="margin: 0.5vh; display: inline-block; height: 17vh;">
        <div> {{item.title}} </div>
      </div>
    </ion-scroll>
  </ion-card-content>

  <!-- <ion-scroll scrollX="true">

    <ion-card class="grid-list" *ngFor="let item of grid" [navPush]="list">
      <img src="{{item.img}}"/>
      <ion-item color="light" class="bold">
        {{item.title}}
        <ion-icon name="{{item.icon}}" item-right></ion-icon>
      </ion-item>
    </ion-card>

    <ion-card class="grid-list" *ngFor="let item of grid" [navPush]="list">
      <img src="{{item.img}}"/>
      <ion-item color="light" class="bold">
        {{item.title}}
        <ion-icon name="{{item.icon}}" item-right></ion-icon>
      </ion-item>
    </ion-card>

  </ion-scroll> -->

</ion-content>