page-home {
  [menuToggle]{
      display: inline-block !important;
  }
}

.grid-list{
  width: 50%;
  float: left;
  padding-bottom: 0;
  padding:0px !important;
  margin:0px !important;
  img{
      object-fit: cover;
      -o-object-fit: cover;
      opacity: .7;
  }
  .item-md{
      .item-inner{
          padding-right: 0;
      }
  }
  .label-md{
      text-transform: capitalize;
      font-weight: 500;
      padding:0px !important;
      margin:0px !important;
  }
}
.searchbar{
  .searchbar-input{
      border-bottom: 1px solid color($colors , light);
  }
  .searchbar-search-icon{
      left: 2px;
  }
  .searchbar-input{
    padding-left: 35px;
    padding-bottom: 0;
  }
  input::-webkit-input-placeholder {
      font-size: 1.2rem;
  }
}
.wardrobe {
  z-index: 1;
  position: relative;
  width:50vw;
  height:50vw;
  padding:0px !important;
  margin:0px !important;
}
.image-item{
  position: relative;
  display: inline-block;
  padding:0px !important;
  margin:0px !important;
  border:0px;
}
.cover_1 {
  z-index: 10;
  right: 3vw;
  position: absolute;
  font-weight: bold !important;
  padding:0px !important;
  margin:0px !important;
  font-size: 4vw;
}
.category_size {
  font-size: 12vw;
  align: center;

/* background-color: color($colors , light) !important;
*/
}