page-reject {
	.app-content{
    background-color: white;
    color:black;
    .scroll-content{
    }
    .content-bg{
        height: 100%;
        overflow-y: scroll;
    }
  }

	.grid-list{
    width: 46vw;
    float: left;
    margin-top: 1vh;
    margin-bottom: 2vh;
    margin-left: 2vw;
    margin-right: 2vw;
    font-size: 5vw;
    height: 13vw;
    background-color: white;
  }

  .buttonstyle{
    width: 95%;
    color:secondary;
  }

  .rejectimage{
    margin-top: 10px;
    font-size: 34px;
    color: red;
  }

	.rejectbutton{
		padding: 3vw;
		margin-top:3vw;
		align: center;
	}

	.rejectheader{
    padding-left: 1rem;
    height:40px;
    color: white;
    background-image: url(../assets/icon/navbar.png);
  }

  .rejecttitle{
  	position: relative;
  	text-align: center;
  	font-size: 2.3rem;
  	margin-bottom: 5vh;
  	margin-top: 4rem;
  }

  .removecheck{
  	padding-top: 10vh;
    padding-bottom: 5vh;
  }
}
